<h1>CDs Organizer</h1>


<p>Here are all the CDs I own:</p>

    <dl>
      <% @all_cds.each() do |cd| %>
        <dt><%= cd.artist() %></dt>
          <dd>-<%= cd.album() %></dd>
      <% end %>
    </dl>



<p>Name a CD you have:</p>

  <form action ="/results" method="post">
  <label for="artist">Artist</label>
  <input id="artist" name="artist" type="text">

  <label for="album">Album</label>
  <input id="album" name="album" type="text">

  <button class="button-gen" type="submit">Add CD!</button>
</form>
<br>
  <form action ="/clear" method="post">
  <button class="button-gen" type="submit">Clear CDs</button>
  </form>
  <br>
  <Br>
    <p>Search for a CD by Album or Artist</p>

    <form action ="/search_results" method="post">
    <label for="search">Artist or Album</label>
    <input id="search" name="search" type="text">

    <button class="button-gen" type="submit" href="/search_results">Search CDs!</button>
  </form>
<br>

<Br>
  <p>Search for all albums present in your collection by one artist entered:</p>

  <form action ="/search_artist" method="post">
  <label for="search_artist">Artist</label>
  <input id="search_artist" name="search_artist" type="text">

  <button class="button-gen" type="submit" href="/search_artist">Search CDs!</button>
</form>
