html{
  background-image: url("images.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Futura", Sans-serif;
  height: 100%;

}



 body{
   margin: 5%;
   text-align: center;
   color: #6B0000;
   background-image: url("cdgif.gif");
   background-repeat: no-repeat;
   background-position: center;
   height: 100%;


   }


.results{
  font-size: 3em;
}


.button-gen {
	-moz-box-shadow:inset 0px 0px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f9eca0;
	box-shadow:inset 0px 0px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#c92200;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:116px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}.classname:active {
	position:relative;
	top:1px;
